<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>测试文件</title>
</head>

<body>
  <h1>真是一个热火朝天的季节...</h1>
  <el-container>
    <el-aside width="200px">
      <el-menu router>
        <el-submenu index="1" v-for="(route, index) in routers" :key="index" v-if="route.hidden">
          <template slot="title">
            <i></i>
            <span>{{ route.name }}</span>
          </template>
          <el-menu-item v-for="(item, i) in route.children" :index="item.path">{{ item.name }}</el-menu-item>
        </el-submenu>
      </el-menu>
    </el-aside>
    <el-main>
      <router-view />
    </el-main>
  </el-container>

  <script>
    new Vue({
      el: '#app',
      computed: {
        routers() {
          return this.$router.options.routes
        }
      }
    })
  </script>
</body>



</html>